form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: 2px solid black;
  padding: 1rem;
  gap: 1rem;
  margin: 1rem;
  width: 100%;
  input,
  select {
    width: 100%;
  }
  button {
    align-self: center;
  }
}
